{% set count = 1 %}
<div class="years-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for year in elements['#years'] %}
        <div class="swiper-slide">
          <a href="#milestone-{{ count }}" class="btn">{{ year }}</a>
        </div>
        {% set count = count + 1 %}
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
{% set count = 1 %}
<div class="milestones-container">
  <img class="logo" src="/themes/veedol/images/logo-sm.png" alt="">
  <div class="milestones">
    {% for item in elements['#data_obj'] %}
      <div class="milestone" id="milestone-{{ count }}">
        <h2 class="heading">{{ item.year }}</h2>
        <div class="milestone-inner">
          <div class="image-wrapper">
            <img src="{{ item.image }}" alt="{{ item.img_alt }}" title="{{ item.img_title }}">
          </div>
          {% if item.body is not empty %}
            {{ item.body | raw }}
          {% else %}
            <p>{{ item.title }}</p>
          {% endif %}
        </div>
      </div>
      {% set count = count + 1 %}
    {% endfor %}
  </div>
</div>
